*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html,body{
    width: 100%;
}
.container-center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35.05rem;
    background-color: black;
}