/* Geral codicos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vollkorn', serif;
}
html,body{
    height: 100%;

}
header{
    width: 100%;
    height: 13.5vh;
    background-color: #e99a39;
    padding: 10px 4rem;
    display: flex;
    position: fixed;
    box-shadow: 0 0 1rem 0.3rem black;
    z-index: 1;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
}
.logo{
    background-image: url('../Imagens/Logo.png');
    width: 12vw;
    background-size: contain;
    background-repeat: no-repeat;
    height: 11vh;
}
header ul{
   display: flex;
   gap: 40px;
}
header li{
    list-style: none;
}
header li a{
    text-decoration: none;
    color: black;
    font-size: 15pt;
}
header li a:hover{
    font-weight: 800;
}
.backgraund-img{
    height:90.5vh;
    position: relative;
    top: 89px;
    width: 100%;
    background-image: url('../Imagens/laptop-ge822041ce_1920.jpg');
    background-size: cover;
    background-position: left;
}
.opacity{   
    height:90.5vh;
    position: absolute;
    padding: 8rem;
    background-color: rgba(0, 0, 0, 0.274);
    width: 100%;
}
.informacoes h1{
    width: 450px;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.informacoes p{
    color: #fff;
    margin-top: 10px;
    width: 450px;
    font-size: 16pt;
   
}
.button-inform{
    margin-top: 10px;
    padding: 10px;
    font-size: 11pt;
    border-radius: 5px;
    border: 0.5px solid black;
    background-color: #f78e0c;
}

.container-box{
    width: 100%;
    position: relative;
    top: 9vh;
    padding: 0 20px;
    display: flex;
    justify-content: space-around;
}
.box{
    height: 47vh;
    width: 25vw;
    padding: 5px;
    text-align: center;
    background-color: #e99a39;
    border-radius: 10px;
}
.box h2{
    margin-top: -25px;
}

.box-icone{
    height: 16vh;
    margin: 0 auto;
    background-image: url('../Imagens/aperto-de-mao(1).png');
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    top: -50px;
    border-radius: 50px;
    box-shadow: 0.2rem 0.2rem 5px 2px #fff;
    width: 8vw;
    background-color: #e99a39;
}
.teste{
    width: 100%;
    height: 100vh;
}